<!doctype html>
%html
  %head
    = partial "shared/scripts"
    %body{:class => page_classes, "data-spy"=>"scroll", "data-target"=>"#primary-nav", "data-offset"=>"80"}
      = partial "layouts/header"
      /end menu
      #main
        = yield
      /end main content
      = partial "layouts/footer"
      = javascript_include_tag"lib/menu_button.js"
      :javascript
        transformicons.add('.tcon')
